.message{
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.messageTop{
  display: flex;
  align-items: center;
}

.messageImg{
  width: 35px;
  height: 35px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 10px;
}

.messageText{
  background-color: #956dc6c8;
  padding: 10px;
  color: white;
  max-width: 250px;
  border-radius: 10px;
}

.messageBottom{
  font-size: 12px;
  margin-left: 47px;
  margin-top: 7px;
}

.message.own{
  align-items: flex-end;
}

.message.own .messageText{
  background-color: #f1f0f0;
  color: black;
}